body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: pink;
}

.container {
    padding: 50px;
    background-color: lightblue;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: rgb(45, 157, 110);
    outline: none;
}

header {
    width: 100%;
    background: #ccc;
}

div {
    padding: 10px 0;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

footer {
    width: 100%;
    font-size: 50px;
    text-align: center;
    background-color: rgb(126, 36, 36);
}