h1{
 color: red;
}
header {
    background-color:#DFDEDE ;
    padding: 10px;
    text-align: center;
    font-size: 35px;
  }

  #logo{
      width: 250px;
      height: 75px;
      /* border: solid 2px; */
  }

  img{
      width: 100%;
      height: 100%;
  }
  

  nav {
    /* float: left; */
    width: 100%;
    height: 50px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
    text-align: center;
  }

  li{
      display: inline;
      align-items: center;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }

 
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }

  