header{
    background-color: bisque;
}
header img{
    height: 175px;
    width: 200px;
    padding-left:75%;
}
nav{
    
    background-color: chocolate;
    
}
ul {  
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
     
  }  
    
  li {  
    float: left;  
  }  
    
  li a {  
    display: block;  
    color: blue;  
   font-size:20px;  
    text-align: center;  
    padding: 10px 20px;  
    text-decoration: none;  
  }  
  .active{  
  background-color: gray;  
  color: white;  
  }  
  li a:hover {  
    background-color: orange;  
    color: white;  
  }  

section .float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

footer{
    margin-top: 70px;
    background-color: darkorchid;
}